.Branch {
    min-width: 12.5rem;
    width: 20%;
    height: 25.75rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
  }
  .BranchIconCont {
    width: 10rem;
    height: 10rem;
    background-color: #F5F5F5;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  .BracnchIconImg {
    width: 70%;
    height: 70%;
  }
  .BranchText {
    color: #E57524;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
  }
  .FloatingPlanet {
    width: 3rem;
    height: 3rem;
    background-color: #1AA55D;
    border-radius: 2rem;
    position: absolute;
    top: 12rem;
    opacity: 1;
    left: 20%;
    transform: translate(-50%,-50%);
    transition: all 0.2s linear;
  }
  .Branch:hover .FloatingPlanet{
    animation: setalite 1.5s infinite;
  }