
.mainProject {
    width: 100%;
}
.mainCont {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 14rem;
    max-height: fit-content;
}
