.btnProjectGreen, .btnProjectOrange {
    cursor: pointer;
    position: relative;
    width: 10rem;
    padding: 1rem 0.5rem;
    text-align: center;
    margin: 1rem auto;
    color: #fefefe;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    transition: all 0.2s linear;
    overflow: hidden; 
}
.btnProjectOrange {
    background-color: #e57424;
    border: 0.25rem solid #e57424;
}
.btnProjectGreen {
    background-color: #1AA55D;
    border: 0.25rem solid #1AA55D;
}
.arrow {
    transition: all 0.2s linear;
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0%;
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg);
}
.btnProjectGreen .arrow {
    border-top: #1AA55D solid 0.25rem;
    border-right: #1AA55D solid 0.25rem;
}
.btnProjectOrange .arrow {
    border-top: #e57424 solid 0.25rem;
    border-right: #e57424 solid 0.25rem;
}
.btnProjectGreen:hover, .btnProjectOrange:hover{
    background: none;
    padding: 1rem 0.5rem 1rem 1.5rem;
    text-align: unset;
}
.btnProjectGreen:hover {
    color: #1AA55D;
}
.btnProjectOrange:hover {
    color: #e57424;
}
.btnProject:hover .arrow, .btnProjectOrange:hover .arrow {
    opacity: 1;
    left: 85%;
}