.whoWeAreMain {
    position: relative;
    min-height: 50.25rem;
    background-color:#000000;
    padding-top: 3.3125rem;
    overflow: hidden;
}
.mineralImg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;    
    margin: auto;
    width: 50%;
}
.wrapper {
    max-width: 80rem;
    min-height: 50.25rem;
    margin: auto;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.mainText {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'CenturyGothicBold';
}
.secondaryText {
    width: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 80%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-family: 'CenturyGothic';
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 2rem;
}
.textWrapper {
    width: 18.75rem;
}
.heading {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    color: #ffffff;
    font-size: 1.375rem;
    font-family: 'CenturyGothicBold';
}
.paragrah {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: #ffffff;
    opacity: 80%;
    font-family: 'CenturyGothic';
}
.imgWrapper {
    width: 18.75rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconImg {
    width: 80%;
    height: 80%;
}
@media (max-width: 616px) {
    .container {
        justify-content: center;
    }
}