body {
  margin: 0;
}

@media (max-width: 601px) {
  .ItemOutter, .ItemOutterActive {
    margin: 1rem !important;
  }
  .ImgContWelcome {
    font-size: 2rem !important;    
  }
  .ImgContMoto {
    font-size: 1.2rem !important;
  }
}

@font-face {
  font-family: 'CenturyGothic';
  src: local('CenturyGothic'), url(./fonts/Century_Gothic.ttf) format('truetype');
}
@font-face {
  font-family: 'CenturyGothicBold';
  src: local('CenturyGothicBold'), url(./fonts/Century_Gothic_Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'MyriadPro';
  src: local('MyriadPro'), url(./fonts/Myriad_Pro.OTF) format('opentype');
}
@font-face {
  font-family: 'MyriadProBold';
  src: local('MyriadProBold'), url(./fonts/Myriad_Pro_Bold.OTF) format('opentype');
}